.ordermenu {
	width: 75%;
	background-color: rgb(245, 245, 245);
	height: 600px;
	padding: 40px 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 6%;
}
.ord-p{
    font-size: 25px;
    font-weight: 700;
}
.pagination{
    /* background-color: red; */
    display: flex;
    gap: 3%;
}

@media screen and (max-width: 600px) {
    .ordermenu{
        width: 87%;
    }
}