.productMain{
   min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        padding: 100px 0;
}
.productMain h1{
        margin-bottom: 8px;
        position: relative;
        font-size: 24px;
        font-weight: 600;
         padding-bottom: 10px;
}
.productMain h1::after{
    position: absolute;
    content: '';
    background: #24856D;
    bottom: 0;
    left: 0;
    right: 0;
    width: 66px;
     height: 2px;

}
.categories{
    max-height: max-content;
    width: 100%;
    /* background-color: peachpuff; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.categoriesSelect{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
     gap: 30px;   
}
.categoriesSelect div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    /* background-color: red; */
    padding: 5px;
    border: 1px solid black;
}
.categories input {
  max-width: 190px;
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  /* box-shadow: 0px 10px 20px -18px; */
}

.categories input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

 .categories input:hover {
  outline: 1px solid lightgrey;
}
.productList{
    display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    height: 150vh;
    width: 100%;
    margin-top: 20px;
    /* background-color: aqua; */
}
.productListCard{
display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
   /* overflow-y: scroll; */
    height: max-content;
    /* background-color: red; */
}
.listedProduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 648px;
    width: 100%;
    transition: .3s ease-in-out;
        position: relative;
    /* background-color: blue; */
    /* border: 1px solid black; */
}

.listedProduct img{
    height: 80%;
    width: 399px;
    border: 1px solid #f0f0f0;
}
.description{
    height: 20%;
    width: 399px;
    padding: 17px 20px 16px;
    border: 1px solid #f0f0f0;
    /* background-color: #24856D; */
}
.description h1{
    font-weight: 400;
        font-style: normal;
}
.description p{
    font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        margin-right: 10px;
        color: #24856D;
}
.cart{
    position: absolute;
    height: 118px;
    /* top: 0; */
    bottom: 150px;
    right: 40px;
    width: 50px;
    background-color: white;
    /* z-index: 999; */
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.cart div{
    /* background-color: green; */
    width: 85%;
    height: 33%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart div:hover{
    background-color: #24856D;
    color: white;
}
.listedProduct:hover .cart {
    display: block;
    
}