.settmenu {
	width: 75%;
	background-color: rgb(245, 245, 245);
	height: 600px;
	padding: 40px 2%;
}
.set-con{
    width: 100%;
    height: 550px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.set-nav{
    width: 100%;
    /* background-color: red; */
    height: 7%;
    display: flex;
    gap: 1%;
    border-bottom: 1px solid rgb(230, 229, 229);
}
.set-nav button{
    border-bottom: 2px solid transparent;
    padding: 0 1%;
    font-size: 14px;
}
.set-nav button:hover{
    border-bottom: 2px solid #58c90293;
    transition: 0.7s;
}
.edit-prf-bx{
    width: 100%;
    height: 90%;
    /* border: 1px solid black; */
}
.prf-img{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.prf-img img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}
.prf-frm{
    width: 100%;
    height: 45%;
    /* border: 1px solid black; */
}
.prf-frm form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}
.prf-frm form input{
    border-bottom: 1px solid grey;
    background-color: transparent;
    padding: 2% 0%;
    margin-bottom: 30px;
    outline: none;
}
.prf-frm form input::placeholder{
    font-size: 13px;
}
.prf-frm form button{
    width: 35%;
    height: 55%;
    font-size: 12px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    background-color: #659E38;
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 1012px) {
    .prf-img img{
        /* width: 20%; */
    }
    .prf-frm form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3%;
    }
}

@media screen and (max-width:698px) {
    .prf-frm{
        height: 70%;
    }
    .prf-frm form{
        height: 75%;
        grid-template-columns: repeat(1,1fr);
        gap: 7%;
    }
    .prf-frm form input{
        margin-bottom: 5px;
    }
    .prf-frm form button{
        height: 100% !important;
        width: 20%;
        font-size: 11px;
    }
    .prf-frm form button{
        width: 20%;
        padding: 1% 0%;
    }
}

@media screen and (max-width:600px){
    .set-nav{
        gap: 10%;
    }
    .set-nav button{
        font-size: 12px;
    }
}

@media screen and (max-width: 477px) {
    .prf-frm form button{
        width: 35%;
    }
}