
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

:root{
    --blue: #003498;
    --darkgreen: #23856D;
}

.testimonials{
    padding: 200px 5%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
}
.testimonials .heading{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
}
.testimonials .heading h2{
    font-size: 35px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 800;
    text-align: center;
}
.testimonials .heading h2 span{
    color: var(--darkgreen);
}
.testimonials .heading p{
    font-size: 16px;
    width: 70%;
    text-align: center;
}
.reviewCardWrapper{
    display: flex;
    width: 80%;
    /* column-gap: 30px; */
}
.reviewCard{
    background-color: white;
    box-shadow: 0px 0px 20px #00359826;
    border-radius: 10px;
    width: 96%;
    margin: 20px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
.reviewProfile{
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-align: left;
}
.reviewProfile img{
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 100%;
}
.reviewProfile h3{
    font-size: 16px;
}
.reviewProfile p{
    font-size: 14px;
}

.single-testimonial{
    background: #fff;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 25px;
    transition: 0.42s ease;
    transition-delay: 0.3s;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

.single-testimonial::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background: #659e38;
    transition: all 0.52s;
    /* z-index: -1; */
}

.single-testimonial:hover::before{
    width: 100%;
}

.single-testimonial .quote-icon {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.single-testimonial .testifier-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.single-testimonial .testifier-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.single-testimonial .testimonial-content>p {
    color: #737373;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.single-testimonial .testimonial-content .testifier-details{
    margin-top: 21px;
}

.single-testimonial .testimonial-content .testifier-details>h5{
    font-size: 18px;
    font-weight: 600;
    color: #1f2230;
    line-height: 1;
    margin-bottom: 5px;
}

.single-testimonial .testimonial-content .testifier-details>p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #696969;
    font-style: normal;
}

@media(max-width: 1200px){
    .testimonials .heading h2{
        font-size: 30px;
    }
    .testimonials .heading p{
        font-size: 14px;
    }
    .reviewCardWrapper{
        width: 100%;
    }
    .reviewCard p{
        font-size: 14px;
    }
}
@media(max-width: 1000px){
    .reviewCard{
        padding: 30px;
    }
    .reviewProfile h3{
        font-size: 15px;
    }
    .reviewProfile p{
        font-size: 13px;
    }
}
@media(max-width: 750px){
    .testimonials .heading h2{
        font-size: 28px;
    }
    .testimonials .heading p{
        width: 90%;
    }
}
@media(max-width:500px){
    .testimonials{
        padding: 120px 5%;
    }
    .testimonials .heading h2{
        font-size: 25px;
    }
    .testimonials .heading p{
        width:100%;
        font-size: 14px;
    }
    .reviewCard{
        width: 100%;
        margin-left: 0px;
    }
    .reviewCard p{
        font-size: 13px;
    }
    .reviewProfile h3{
        font-size: 14px;
    }
    
}
@media(max-width: 400px){
    .testimonials .heading p{
        font-size: 13px;
    }
    .reviewCard{
        padding: 30px 20px;
    }
}